<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberAcademy</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./../../assets/css/style.css" />
    <script nonce="b3850905-b420-4a05-acb5-071dc430d15e">
      (function (w, d) {
        !(function (U, V, W, X) {
          U[W] = U[W] || {};
          U[W].executed = [];
          U.zaraz = {
            deferred: [],
            listeners: [],
          };
          U.zaraz.q = [];
          U.zaraz._f = function (Y) {
            return async function () {
              var Z = Array.prototype.slice.call(arguments);
              U.zaraz.q.push({
                m: Y,
                a: Z,
              });
            };
          };
          for (const $ of ["track", "set", "debug"]) U.zaraz[$] = U.zaraz._f($);
          U.zaraz.init = () => {
            var ba = V.getElementsByTagName(X)[0],
              bb = V.createElement(X),
              bc = V.getElementsByTagName("title")[0];
            bc && (U[W].t = V.getElementsByTagName("title")[0].text);
            U[W].x = Math.random();
            U[W].w = U.screen.width;
            U[W].h = U.screen.height;
            U[W].j = U.innerHeight;
            U[W].e = U.innerWidth;
            U[W].l = U.location.href;
            U[W].r = V.referrer;
            U[W].k = U.screen.colorDepth;
            U[W].n = V.characterSet;
            U[W].o = new Date().getTimezoneOffset();
            if (U.dataLayer)
              for (const bg of Object.entries(
                Object.entries(dataLayer).reduce(
                  (bh, bi) => ({ ...bh[1], ...bi[1] }),
                  {}
                )
              ))
                zaraz.set(bg[0], bg[1], {
                  scope: "page",
                });
            U[W].q = [];
            for (; U.zaraz.q.length; ) {
              const bj = U.zaraz.q.shift();
              U[W].q.push(bj);
            }
            bb.defer = !0;
            for (const bk of [localStorage, sessionStorage])
              Object.keys(bk || {})
                .filter((bm) => bm.startsWith("_zaraz_"))
                .forEach((bl) => {
                  try {
                    U[W]["z_" + bl.slice(7)] = JSON.parse(bk.getItem(bl));
                  } catch {
                    U[W]["z_" + bl.slice(7)] = bk.getItem(bl);
                  }
                });
            bb.referrerPolicy = "origin";
            bb.src =
              "/cdn-cgi/zaraz/s.js?z=" +
              btoa(encodeURIComponent(JSON.stringify(U[W])));
            ba.parentNode.insertBefore(bb, ba);
          };
          ["complete", "interactive"].includes(V.readyState)
            ? zaraz.init()
            : U.addEventListener("DOMContentLoaded", zaraz.init);
        })(w, d, "zarazData", "script");
      })(window, document);
    </script>
  </head>

  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-3">
            <h2 class="heading-section">Quản Lý Học Viện</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <nav
          class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light"
          id="ftco-navbar"
        >
          <div class="container">
            <a class="navbar-brand" href="#">Cyber Academy</a>
            <div class="social-media order-lg-last">
              <p class="mb-0 d-flex">
                <a
                  href="#"
                  class="d-flex align-items-center justify-content-center"
                  ><span class="fa fa-facebook"
                    ><i class="sr-only">Facebook</i></span
                  ></a
                >
                <a
                  href="#"
                  class="d-flex align-items-center justify-content-center"
                  ><span class="fa fa-twitter"
                    ><i class="sr-only">Twitter</i></span
                  ></a
                >
                <a
                  href="#"
                  class="d-flex align-items-center justify-content-center"
                  ><span class="fa fa-instagram"
                    ><i class="sr-only">Instagram</i></span
                  ></a
                >
                <a
                  href="#"
                  class="d-flex align-items-center justify-content-center"
                  ><span class="fa fa-dribbble"
                    ><i class="sr-only">Dribbble</i></span
                  ></a
                >
              </p>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#ftco-nav"
              aria-controls="ftco-nav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav ml-auto mr-md-3">
                <li class="nav-item active">
                  <a href="#" class="nav-link">Trang chủ</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Giới thiệu</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Tuyển sinh</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Đào tạo</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Liên hệ</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </section>

    <section class="search">
      <div class="container">
        <div class="padding10px">
          <div class="row">
            <div class="col-md-4 col-12">
              <button class="btn btn-outline-primary btn_button" id="sapXep">
                Sắp xếp danh sách
                <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
              </button>
            </div>
            <div class="col-md-8 col-12 text-right margin_responsive">
              <span class="text-right text_color filter">
                Lọc
                <i class="fa fa-filter" aria-hidden="true"></i>
              </span>
              <select name="" id="loaiNguoiDung" class="select_option">
                <option value="">Chọn loại người dùng</option>
                <option value="all">Tất cả</option>
                <option value="sinhVien">Sinh viên</option>
                <option value="nhanVien">Nhân viên</option>
                <option value="khachHang">Khách hàng</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-3">
      <div class="container">
        <div class="background">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="row">
                <div class="col-md-4 col-12">
                  <button
                    id="themNguoiDung"
                    class="btn btn-outline-primary btn_button"
                    type="button"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    Thêm người dùng
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="background">
          <div class="table-responsive userTable">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Loại</th>
                  <th>Tên</th>
                  <th>Email</th>
                  <th>Địa chỉ</th>
                  <th>Điểm trung bình</th>
                  <th>Lương</th>
                  <th>Tên công ty</th>
                  <th>Trị giá hoá đơn</th>
                  <th>Đánh giá</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="tbodyUser"></tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal user -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Thêm người dùng
            </h5>
            <button
              id="btnExit"
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" id="userForm">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="id">ID</label>
                  <input
                    type="text"
                    class="form-control"
                    id="id"
                    placeholder="Nhập ID"
                    value=""
                  />
                  <div id="invalidID" class="invalid-feedback"></div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="type">Loại</label>
                  <select class="custom-select d-block w-100" id="type">
                    <option value="">Chọn loại người dùng</option>
                    <option value="sinhVien">Sinh viên</option>
                    <option value="nhanVien">Nhân viên</option>
                    <option value="khachHang">Khách hàng</option>
                  </select>
                  <div id="invalidLoai" class="invalid-feedback"></div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="name">Tên</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Nhập họ tên"
                  />
                  <div id="invalidTen" class="invalid-form"></div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Nhập email"
                  />
                  <div id="invalidEmail" class="invalid-form"></div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="address">Địa chỉ</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    placeholder="Nhập địa chỉ"
                    value=""
                  />
                  <div
                    id="invalidDiaChi"
                    class="invalid-feedback"
                  ></div>
                </div>
                <div class="col-md-6 mb-3" id="diemToan">
                  <label for="math">Điểm toán</label>
                  <input
                    type="number"
                    min="0"
                    class="form-control"
                    id="math"
                    placeholder="Nhập điểm toán"
                    value=""
                  />
                  <div id="invalidDiemToan" class="invalid-feedback"></div>
                </div>
                <div class="col-md-6 mb-3" id="diemLy">
                  <label for="physic">Điểm lý</label>
                  <input
                    type="number"
                    min="0"
                    class="form-control"
                    id="physic"
                    placeholder="Nhập điểm lý"
                    value=""
                  />
                  <div id="invalidDiemLy" class="invalid-feedback"></div>
                </div>
                <div class="col-md-6 mb-3" id="diemHoa">
                  <label for="chemistry">Điểm hoá</label>
                  <input
                    type="number"
                    min="0"
                    class="form-control"
                    id="chemistry"
                    placeholder="Nhập điểm hoá"
                    value=""
                  />
                  <div id="invalidDiemHoa" class="invalid-feedback"></div>
                </div>
                <div class="col-md-6 mb-3" id="soNgayLam">
                  <label for="working_days">Số ngày làm việc</label>
                  <input
                    type="number"
                    min="0"
                    class="form-control"
                    id="working_days"
                    placeholder="Nhập số ngày làm việc"
                    value=""
                  />
                  <div id="invalidSoNgayLam" class="invalid-feedback"></div>
                </div>
                <div class="col-md-6 mb-3" id="luongTheoNgay">
                  <label for="daily_wages">Lương theo ngày</label>
                  <input
                    type="number"
                    min="0"
                    class="form-control"
                    id="daily_wages"
                    placeholder="Nhập lương theo ngày"
                    value=""
                  />
                  <div id="invalidLuongTheoNgay" class="invalid-feedback"></div>
                </div>
                <div class="col-md-6 mb-3" id="tenCongTy">
                  <label for="company_name">Tên công ty</label>
                  <input
                    type="text"
                    class="form-control"
                    id="company_name"
                    placeholder="Nhập tên công ty"
                    value=""
                  />
                  <div id="invalidTenCongTy" class="invalid-feedback"></div>
                </div>
                <div class="col-md-6 mb-3" id="triGiaHoaDon">
                  <label for="cost">Trị giá hoá đơn</label>
                  <input
                    type="number"
                    class="form-control"
                    id="cost"
                    placeholder="Nhập trị giá hoá đơn"
                    value=""
                  />
                  <div id="invalidTriGiaHoaDon" class="invalid-feedback"></div>
                </div>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                  id="btnClose"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-warning"
                  id="btnCapNhat"
                >
                  Cập Nhật
                </button>
                <button
                  type="submit"
                  class="btn btn-success"
                  id="btnThem"
                >
                  Thêm
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="./../controllers/jquery.min.js"></script>
    <script src="./../controllers/popper.js"></script>
    <script src="./../controllers/bootstrap.min.js"></script>
    <script src="./../controllers/index.js"></script>
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854"
      integrity="sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg=="
      data-cf-beacon='{"rayId":"7fe4aea778224488","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.8.0","si":100}'
      crossorigin="anonymous"
    ></script>
    <script type="module" src="./../controllers/main.js"></script>
  </body>
</html>